export(sfaendog, summary.sfaendog, print.summary.sfaendog)
S3method(summary, sfaendog)
S3method(print, summary.sfaendog)
importFrom("stats", "anova")
importFrom("stats", "as.formula")
importFrom("stats", "coef")
importFrom("stats", "formula")
importFrom("stats", "lm")
importFrom("stats", "model.matrix")
importFrom("stats", "nls")
importFrom("stats", "predict")
importFrom("stats", "printCoefmat")
importFrom("stats", "reformulate")
importFrom("gmm","gmm")
importFrom("minpack.lm","nlsLM")
